* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

body {
}

.div_nav_section {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}



.div_nav_section .nav_container {
    display: flex;
    justify-content: space-between;
    width: 70%;
}



.div_nav_section .nav_container .div-logo {

    display: flex;
    align-items: center;
    width: 40%;
}


.div_nav_section .nav_container .div-logo img {
    width: 26%;
}

.div_nav_section .nav_container .div-logo h3 {

    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
}


.div_nav_section .nav_container .div-navOptions {

    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 10px;
    padding-right: 15px;
    gap: 15px;
}

.div_nav_section .nav_container .div-navOptions ul {
    display: flex;
}

.div_nav_section .nav_container .div-navOptions ul li {
    list-style: none;
    margin: 0px 15px;
}

.div_nav_section .nav_container .div-navOptions ul li a {

    text-decoration: none;
    font-weight: 500;
    color: black;
    transition: all 300ms;
    letter-spacing: 1px;
}

.div_nav_section .nav_container .div-navOptions ul li a:hover {

    background-color: black;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    transition: 0.2s ease-in-out;
}

#checking {
    display: none;
}

label {
    display: none;
}








.banner-section {
    display: flex;
    padding-top: 2px;
    justify-content: center;
    width: 100%;
}

.banner-section .banner-container {
    
    width: 100%;
    height: 487px;

}

.banner-section .banner-container img {
    width: 100%;
}







.div_gallery_section {
    width: 100%;
    padding-top: 100px;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
}


.div_gallery_section .gallery_container {
    width: 75%;
}


.div_gallery_section .gallery_container .head_video {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_gallery_section .gallery_container .head_video video {
    width: 100%;
    border-radius: 25px;
}

.div_gallery_section .gallery_container .head_video p {

    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}


.div_gallery_section .gallery_container .shorts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.div_gallery_section .gallery_container .shorts .video {

    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #cfcfcf;
    padding: 43px 9px;
    margin: 10px 12px;
    border-radius: 17px;



}

.div_gallery_section .gallery_container .shorts .video video {
    height: 600px;
    border-radius: 25px;

}

.div_gallery_section .gallery_container .shorts .video p {

    padding: 22px 22px 0px 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}









.footer-section {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000db;
    color: #ffff;
    height: 250px;
}


.footer-section .footer_container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}



.footer-section .footer_container .about-company {
    max-width: 40%;
}


.footer-section .footer_container .about-company h3 {
    padding: 20px 0px;
}


.footer-section .footer_container .keep_connected h3 {
    padding: 20px 0px;

}

.footer-section .footer_container .keep_connected a {
    text-decoration: none;
    color: #ffff;
}


.footer-section .footer_container .keep_connected a i {

    padding: 5px; font-size: 20px;
}

.footer-section .footer_container .contact_info h3 {
    padding: 20px 0px;

}

.footer-section .footer_container .contact_info {

    max-width: 25%;

}

.footer-section .footer_container .contact_info .contact-options {
    display: flex;
    flex-direction: column;
}

.footer-section .footer_container .contact_info .contact-options .lo {
    display: flex;
}

.footer-section .footer_container .contact_info .contact-options .lo p {
    
    margin: 0px 10px 10px 10px;

}






@media screen and (max-width:480px) {

    
    .div_nav_section {
        height: 70px;
    }


    .div_nav_section .nav_container .div-navOptions ul {
        
        position: fixed;
        top: 70px;
        left: -100%;
        background: #f1f1f1;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 400ms;
    }


    .div_nav_section .nav_container .div-navOptions ul li {

        margin: 25px 0;
    }


    .div_nav_section .nav_container .div-navOptions ul li a {

        font-size: 17px;
    }

    .div_nav_section .nav_container .div-navOptions ul li a:hover {

        background-color: unset;
        border-radius: unset;
        padding: unset;
        color: #fff;
        }

        label {
            display: block;
        }

        label i {

            font-size: 25px;
        }


    #checking:checked ~ ul {
        left: 0%;
    }


    #checking:checked ~ label ::before {
        content: '\f00d' ;
    }


    .div_nav_section .nav_container {

        width: 100%;
    }


    .div_nav_section .nav_container .div-logo {
        display: flex;
        align-items: center;
        width: 58%;
    }

    .div_nav_section .nav_container .div-logo h3 {
        margin-top: 7px;
        font-size: 10px;
        font-weight: 700;
    }






    .banner-section .banner-container {
        width: 100%;
        height: auto;
    }


    .div_gallery_section .gallery_container .shorts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 65px;


    }

    .div_gallery_section .gallery_container {
        width: 85%;
    }
    

    .div_gallery_section .gallery_container .shorts .video { 
    width: 100%;
    padding: 18px 0px;
    margin: 25px 0px;
    border-radius: 30px;

    }


    .div_gallery_section .gallery_container .shorts .video video {
        height: 28.5rem;
        border-radius: 30px;
    }


    .div_gallery_section .gallery_container .head_video p {
    line-height: 27px;

    }

    .div_gallery_section .gallery_container .shorts .video p {

    font-weight: 500;
    line-height: 30px;

    }


    .div_gallery_section .gallery_container .head_video {
    padding-bottom: 15px;
    border-bottom: solid 2px #c1c1c1;

    }

    .div_gallery_section {

    padding-top: 65px;
    
    }







    .footer-section {

        height: auto;
        padding: 25px 0px;

    }


    .footer-section .footer_container {
        width: 100%;
        flex-direction: column;
        align-items: center;

    }



    .footer-section .footer_container .about-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 86%;
    padding-bottom: 1rem;
    border-bottom: solid 1px;

    }


    .footer-section .footer_container .about-company p {

        font-size: 14px;
    }


    .footer-section .footer_container .keep_connected {
   
        max-width: 86%;
        padding-bottom: 1rem;
        border-bottom: solid 1px;

    }

    .footer-section .footer_container .keep_connected i {

        padding: 10px;
        font-size: 25px;
    }


    .footer-section .footer_container .contact_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 63%;
    }


    .footer-section .footer_container .contact_info .contact-options .lo p {

        font-size: 14px;

    }







}